.hello {
	background-color: rgba(159, 181, 203, 0.30);
	border: 1px solid gray;
	border-radius: 4px;
	display: block;
	font-family: -apple-system, BlinkMacSystemFont;
	margin: 1em;
	padding: 1em;
	user-select: none;
	width: 140px;
	text-align: center;
}

.upsidedown {
	transform: rotate(180deg);
	color: red;
}
