body {
	color: #fff;
	background: #1d1f20;
}

.root {
	text-align: center;
	padding: 100px 0 0 0;
}

.logo {
	width: 200px;
	animation: rotation 2s infinite linear;
}

.label {
	padding: 20px;
	margin: 20px;
	font-family: 'Arial', serif;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
